DATA_SOURCE=db
DATABASE_URL=postgres://viperr:viperr@localhost:5432/viperr
DB_PORT=5432

SESSION_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
ADMIN_DISCORD_IDS=

STEAM_API_KEY=
PUBLIC_URL=

DEV_LOGIN_DISCORD_ID=
